<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".App"
    android:requestLegacyExternalStorage="true"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
  >
    <activity
      android:label="@string/app_name"
      android:name=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:exported="false"
      android:name=".EditorActivity"
      android:parentActivityName=".MainActivity"
    />
    <activity
      android:exported="false"
      android:name=".GraphActivity"
      android:parentActivityName=".MainActivity"
    />
    <service
      android:exported="false"
      android:name=".FetchAddressIntentService"
    />
  </application>
</manifest>
